.dot-board{
    margin-top: 13px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.active{
    /* border: 2px solid black; */

}
.dot{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #666666;
    
}


.dot-red{
    background: #e17769;
}

.dot-gray{
    background: #999ea1;
}

.dot-black{
    background: black;
}

.dot-silver{
    background: #bcbec4;
}

.dot-green{
    background: #263124;
}

.dot-brown{
    background: #7c551e;
}

.dot-white{
    background: #dad9db;
}

.dot-m-black{
    background: #312f2d;
}

.dot-m-white{
    background: #dad9db;
}

.dot-m-bronze{
    background: #9a716e;
}

.color{
    margin-top:61px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 22px;
    font-weight: 400;
    line-height: 42px;
}

