*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

.goto{
    text-decoration: underline;
}

ul{
    list-style: none;
}
.flex{
    display: flex;
}

h2{
    color: #000000;
    font-family: "Samsung Sharp Sans";
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
}

h3{
    font-family: "Samsung Sharp Sans";
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
}
h4{
    height: 15px;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.37px;
}
h6{
    font-family: "Samsung Sharp Sans";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.44px;
}


.s01 .acceories_img-wrapp{
    width: 100%;
    height: auto;
}
.s01 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.s01 .blank{
    position: relative;
    width:1920px;
    height: 865px;
}
.s01 .front{
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: fading;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.s01 .back{
    position: absolute;
    width: 100%;
    height: 100%;
}


.section{
    padding-top: 180px;
    text-align: center;
}

@keyframes fading{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}



.powerphone{
    text-align: center;
    padding: 179px 0 0 0;
}
.powerphone h2{
    max-width: 1100px;
    margin: 0 auto;
}

.desc-acs{
    height: 16px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 16px;
}
.watch{
    width:1200px;
    margin:175px auto 0 auto;
    display: flex;
    justify-content: center;
}
.node{
    width: 600px;
    height: 800px;

}

.watch-desc{
    text-align: left;
    padding: 142px 0 0 96px;
}
.watch-img{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-desc{
    margin-top: 31px;
    width: 360px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.stainless{
    width: 54px;
    height: 12px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    margin-top: 22px;
}

#tabs{
    margin-top: 30px ;
}

.s02 a{
    color: #808285;
    font-family: "Samsung One";
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
}

.s02 #tabs ul{
    display: flex;

}

.s02 #tabs li:nth-child(2){
    margin-left:10px;
}

.buy{
    width: max-content;
    height: auto;
    padding: 4px 20px;
border-radius: 8px;
display: block;
background-color: white;
margin-top: 45px;
border: 1px solid #000000;
cursor: pointer;
font-family: "Samsung One";
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.78px;
}

.sell{
    width:1200px;
    margin:0 auto 0 auto;
    display: flex;
    justify-content: center;
}

.buds-desc{
    margin-top: 174px;
    text-align: left;
    
}

.buds .small-desc{
    width: 430px;
    height: 130px;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    text-decoration: none;
}

.s03{
    background-color: #000000;
    padding-top: 277px;
    padding-bottom: 170px;
    color: #ffffff;
}

.black-section h4{
    width: 83px;
    height: 13px;
    color: #ffffff;
    font-family: "Samsung One";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Lifestyle" */
    letter-spacing: 1.21px;
}


.black-section h3{
    width: 481px;
    height: 111px;
    color: #ffffff;
    font-family: "Samsung Sharp Sans";
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin-top: 34px;
}


.black-section .headers p{
    width: 325px;
    height: 40px;
    color: #ffffff;
    font-family: "Samsung One";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 26px;
}

.black-section > .headers{
    position:absolute;
    margin-top: -200px;
    left: 360px;
    width:100%;
}
.controller-desc{
    margin-top: 195px;
}
.controller-desc h3{
    height: 26px;
    color: #ffffff;
    font-family: "Samsung Sharp Sans";
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
}

.black-section .small-desc{
    width: 374px;
    height: 158px;
    color: #ffffff;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.black-section>img{
    max-width: 1800px;
    margin:0 auto;
}

.black-section .buy{
    background-color: #000000;
    border-color: white;
    color: white;
}

.s03 .controller-img{
    width: 710px;
    height: 710px;
}

.s04{
    padding-top: 146px;
    padding-bottom: 358px;
    background-color: #000000;
}
.s04 h3{
    width:700px;
    height: 175px;
}

.s04 .headers p{
    width: 393px;
}

.charger{
    
    width:1200px;
    margin:175px auto 0 auto;
    display: flex;
    justify-content: center;
}

.charger-img{
    
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ñharger .node .small-desc2{
    color: #ffffff;
}










.case-block{
    width:1202px;
    margin: 89px auto;
    display: flex;
    justify-content: center;
    font-family: "Samsung One";
}
.case-node{
    width:50%;
}

.case-block > .case-node:nth-child(1){
    margin-left: 31px;
}

.case-block > .case-node:nth-child(2){
    margin-left: 32px;
}

.case-node .case-node_header{
    color: #000000;
    font-family: "Samsung Sharp Sans";
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
}

.case-node .desc{
    position: absolute;
    max-width: 550px;
    margin-top: 38px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
}

.case-bg{
    margin-top: 275px;
    width: 570px;
    height: 720px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-bg > img{
    width: 236px;
    height: 491px;
}

.dot-board{
    margin-left: 16px;
}

.dot-board:first-child{
    margin-left: 0px;
}

.s05 .headers{
    margin: 0 auto;
    text-align: center;
}

.s05 > .headers> h3{
    margin-top: 30px;
}

.s05 > .headers > p{
    color: #000000;
    font-family: "Samsung One";
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 14px;
}

ul.flex{
    margin-top: 18px;
}
ul.flex li{
    margin-left: 20px;
}

ul li:first-child{
    margin-left:0;
}

ul.flex li:active{
    color: black;
}