

.hd{
    display: none;
}

.full-hd{
    display: inline-block;
}

*{
    margin:0;
    padding:0;
}

.flex{
    display: flex;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-family: "Samsung Sharp Sans";
    font-size: 58px;
    font-weight: 700;
    line-height: 76px;
}

h2{
    color: #000000;
    font-family: "Samsung Sharp Sans";
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
}

h3{
    color: #000000;
    font-family: "Samsung Sharp Sans";
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
}
h4{
    height: 15px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.37px;
}
h6{
    font-family: "Samsung Sharp Sans";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.44px;
}

.models{
    height:865px;
    background-color: black;
    display: flex;
    align-items: flex-end;

}


.models .content{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.s00 .blank{
    position: relative;
    width:1920px;
    height: 865px;
}
.s00 .front{
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: fading;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
.s00 .full-hd{
    width: 100%;
    height: 100%;
}
.s00 .back{
    position: absolute;
    width: 100%;
  
}

@keyframes fading{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.headers{
    padding-top: 263px;
    padding-right: 92px;
    width: 147px;
}


.s01 a{
    display: none;

    color: #a6a6a6;
    font-family: "Samsung Sharp Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 28.93px;
}

.s01 ul{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 42px;
}

.s01 ul > li {
    padding-left: 30px;
    padding-right: 30px;
}


.models-text{
    height: 21px;
    color: #ffffff;
    font-family: "Samsung One";
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 9.63px;
}

.image-simulated-text{
    margin-top:42px;
    color: #ffffff;
    font-family: "Samsung One";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.image-a{
    opacity: 0;
    transition: opacity 5s;
}

.image-a{
    opacity: 1;
    transition: opacity 5s;
}

.powerphone{
    text-align: center;
    padding: 179px 0 0 0;
}

.section{
    padding-top: 180px;
    text-align: center;
}


.colors-text{
    color: #000000;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Colors" */
    letter-spacing: 1.37px;
}

.s01 .header{
    margin-top: 37px;
}


/* button{
    cursor:pointer;
    background-color: white;
    width: 352px;
    height: 66px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    
    font-family: "Samsung Sharp Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;

    letter-spacing: 1.83px;
    align-items: center;
} */

.button .divider{
    width: 2px;
    height: 51px;
    background-color: black;
}
.button .see-text{
    margin: 0 50px 0 0;
}
.button .arrow{
    margin: 0 0 0 22px;
}



.s02 h3{
    margin-top: 38px;
}

.s02 .phones{
    margin-top: 98px;
    display: flex;
    justify-content: center;
}
.s02 .phones .description{
    margin-bottom: 28px;
}

.phones .note20{
    width:50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 25px; 
}

.phones .note20 img{
    
    margin-left: 38px;
}


.phones .note20ultra{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left:25px;
}

.phones .note20ultra img{
    margin-right: 34px;
}

.diagonal{
font-family: "Signature Samsung", sans-serif;
font-size: 32px;
font-weight: 400;
/* Text style for "6.7"" */
letter-spacing: -0.71px;
}

.display-description{
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.note20 .description{
    text-align: right;
}

.note20ultra .description{
    text-align:left;
}

.s03 .content{
    margin-top: 167px;
}

.s03 .content .full-hd{
    display: inline-block;
    margin:0 auto;
}

.s03 .see-text{
    padding-right: 109px;
}

.s03 .button{
    margin-top: 213px;
}

.s03b{
    text-align: center;
    margin-top: 79px;
}

.s03b .content{
    margin-top: 81px;
}


.s03b .content .full-hd{
    display: inline-block;
    margin: 0 auto;
    margin-left: 191px;
    width: 1389px;
    height: 722px;
}

.s04_1 .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s04_1 .video-description{
    text-align: left;
    padding-left: 20px;
}

.s04_1 .pictures{
    width: 355px;
    height: 581px;
    margin-left: 53px;
    margin-right: 70px;
}


.s04_1 .see-text {
    padding-right: 109px;
}


.s04_1 .purpose{
    width: 297px;
    height: 40px;
    color: #000000;
    font-family: "Samsung One";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 70px;
}

.camera-module{
     margin-top: 87px;
    width: 1081px;
    height: 676px;
}

.s05 a{
    color: #a6a6a6;
    font-family: "Samsung Sharp Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 28.93px;
}

.s05 ul{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 42px;
}

.s05 ul > li {
    padding-left: 30px;
    padding-right: 30px;
}

.s05 img{
    margin-left: 191px;
}


.s06 .content{
    margin-top: 171px;
}

.s06 .about-batteries{
    display: flex;
    justify-content: center;
    
}

.s06 .note20{
    margin-right: 85px;
}
.s06 .note20ultra{
    margin-left: 85px;
}

.s06 p{
    padding-top: 40px;
}

.s06 b{
    width: 179px;
    height: 33px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    /* Text style for "0" */
    letter-spacing: 1.43px;
}

.about-cameras{
    justify-content: center;
}

.about-cameras > *{
    margin-top: 66px;
    text-align: left;
    width:330px;
}

.about-cameras .flex{
    margin-top: 33px;
    justify-content: space-between;
}

.about-cameras p{
    padding-top: 16px;
    margin-left: 67px;
    font-family: "Samsung One";
    font-size: 18px;
    font-weight: 400;
}

.about-cameras .note20{
    margin-right: 100px;
}

.about-cameras .note20ultra{
    margin-left:100px;
}

.about-cameras h3{
    font-family: "Samsung Sharp Sans";
    font-size: 40px;
    font-weight: 700;
    /* Text style for "3" */
    letter-spacing: 4.43px;
}
