body{
	font-family: Arial, sans-serif;
	padding:0;
	margin:0;
	color: #222222;
}
div{
	box-sizing: border-box;
}
.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
header{
	background: url(../img/first-bg.jpg) no-repeat center top/cover;
	height: 100vh;
}
.container{
	width: 930px;
	margin: 0 auto;
}
.logo{
	margin-top: 41px;
	float: left;
}
nav{
	float: right;
	margin-top: 50px;
}
.menu{
	display:block;
	margin:0;
	padding:0;
}
.menu li{
	float: left;
	display: block;
	margin-right: 41px;
	
}
.menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.titles_first{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}
 h1{
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15; 
}

.button{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.title{
	padding-top: 115px;
}
.title h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.title p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.services{
	margin-top: 50px;
}
.services__item{
	width: 270px;
	float: left;
	text-align: center;
	
}
.services__item h3{
	font-size: 18px;
	margin-bottom: 5px;
}
.services__item p{
	font-size: 14px;
	color: #777777;
	line-height:1.55em;
}
.services__item:last-child{
	float: right;
}
.services__item:nth-child(2){
	margin-left: 60px;
}
#portfolio{
	background: #f7f7f7;
	/*padding-bottom: 120px;*/
	height: 100vh;
}

#services{
	/*padding-bottom: 120px;*/
	height: 100vh;
}
.works{
	margin-top:70px;
}
.works img{
	float: left;
}
.works img:last-child{
	float: right;
}
.works img:nth-child(2){
	margin-left: 29px;
}

.title_blockimg{
	display: block;
	width: 555px;
	margin-top: 78px;
	margin-bottom: 93px;
}
.title_blockimg img{
	float: right;
	display: block;
}
.title_text{
	text-align:right;
	float: left;
	display: block;
	width: 327px;
	padding-left: 50px;
}
.title_text h4{
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.title_text h5{
	margin-top: 12px;
	margin-bottom:18px;
	font-size: 18px;
	font-weight: bold;
}
.title_text p{
	margin: 0;
	font-size: 14px;
	color: #777777;
	line-height:1.55em;
	
}

.title_blockimg2{
	display: block;
	width: 555px;
	margin-top: 78px;
	margin-left: 372px;
	margin-bottom: 93px;
}
.title_blockimg2 img{
	float: left;
	display: block;
}
.title_text2{
	text-align:left;
	float: right;
	display: block;
	width: 327px;
	padding-right: 50px;
}
.title_text2 h4{
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.title_text2 h5{
	margin-top: 12px;
	margin-bottom:18px;
	font-size: 18px;
	font-weight: bold;
}
.title_text2 p{
	margin: 0;
	font-size: 14px;
	color: #777777;
	line-height:1.55em;
	
}

.footer_text p{
	text-align: center;
	margin: 0;
	font-size: 14px;
	color: #777777;
	margin-bottom: 115px;
}













































